<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h2 class="jasmine-banner">Thêm sách mới</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form (ngSubmit)="submit()" [formGroup]="bookForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail2" class="form-label">Tác giả</label>
          <input type="text" class="form-control" id="exampleInputEmail2" formControlName="author">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Description</label>
          <textarea class="form-control" formControlName="description" id="exampleInputPassword1" cols="30" rows="10"></textarea>
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary m-2">Thêm sách mới</button>
          <a routerLink="/books" class="btn btn-success m-3">Thoát</a>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>

